<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="repositoryMappingsConfiguration" type="Bladex.Garantias.Infrastructure.RepositoryFramework.Configuration.RepositorySettings,Bladex.Garantias.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <!--Example of Repositories mapping-->
      <repositoryMapping interfaceShortTypeName="IClienteRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Cliente.ClienteSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
    </repositoryMappings>
  </repositoryMappingsConfiguration>
</configuration>





