<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="repositoryMappingsConfiguration" type="Bladex.Garantias.Infrastructure.RepositoryFramework.Configuration.RepositorySettings,Bladex.Garantias.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="entityMappingsConfiguration" type="Bladex.Garantias.Infrastructure.EntityFactoryFramework.Configuration.EntitySettings, Bladex.Garantias.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>

    <!-- Email Configuration -->
    <add key="Intelledata.Common.Email.Host" value="smtp.gmail.com"></add>
    <add key="Intelledata.Common.Email.Port" value="587"></add>
    <add key="Intelledata.Common.Email.UseSsl" value="true"></add>
    <!-- Leave blank to use Integrated Authentication -->
    <add key="Intelledata.Common.Email.Username" value="nicolaspascual@gmail.com"></add>
    <add key="Intelledata.Common.Email.Password" value="31454312190185"></add>
  </appSettings>
  <dataConfiguration defaultDatabase="BLX_GARANTIAS" />
  <connectionStrings>
    <!--<add name="BLX_GARANTIAS" connectionString="Data Source=localhost;Initial Catalog=BLX_GARANTIAS;Integrated Security=SSPI;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BLX_GARANTIAS" connectionString="Data Source=localhost;Initial Catalog=BLX_GARANTIAS;User ID=linksis; Password=linksis;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />-->
    <add name="BLX_GARANTIAS" connectionString="Data Source=localhost;Initial Catalog=BLX_GARANTIAS;User ID=linksis; Password=linksis;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <cachingConfiguration defaultCacheManager="Default Cache Manager">
    <backingStores>
      <add name="inMemory" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" />
    </backingStores>
    <cacheManagers>
      <add name="Default Cache Manager" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="inMemory" />
    </cacheManagers>
  </cachingConfiguration>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <!--Example of Repositories mapping-->
      <repositoryMapping interfaceShortTypeName="IClienteRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Cliente.ClienteSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPaisRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Pais.PaisSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ICategoriaSuperRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.CategoriaSuper.CategoriaSuperSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IActorRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Actor.ActorSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IAvaluadorasRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Avaluadoras.AvaluadorasSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IAseguradorasRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Aseguradoras.AseguradorasSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IAvalRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Aval.AvalSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IBancosRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Bancos.BancosSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ICalificacionesRiesgoRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.CalificacionesRiesgo.CalificacionesRiesgoSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IFiduciariasRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Fiduciarias.FiduciariasSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IFrecuenciasRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Frecuencias.FrecuenciasSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGarantiaBaseRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaBase.GarantiaBaseSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGarantiaBaseRepository`1" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaBase.GarantiaBaseSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGarantiaDepositoOtroBancoRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaDepositoOtroBanco.GarantiaDepositoOtroBancoSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGarantiaDepositoRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaDeposito.GarantiaDepositoSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGarantiaInmuebleRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaInmueble.GarantiaInmuebleSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGarantiaMuebleRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaMueble.GarantiaMuebleSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGarantiaOtraRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaOtra.GarantiaOtraSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGarantiaPrendaRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaPrenda.GarantiaPrendaSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGrupoRiesgoGarantiaRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GrupoRiesgoGarantia.GrupoRiesgoGarantiaSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IInstrumentoFinancieroRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.InstrumentoFinanciero.InstrumentoFinancieroSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IMonedasRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Monedas.MonedasSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IInternalStatusRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.InternalStatus.InternalStatusSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IStatusRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Status.StatusSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ITipoAvalRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.TipoAval.TipoAvalSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ITipoGarantiaBladexRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.TipoGarantiaBladex.TipoGarantiaBladexSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ITipoGarantiaSuperRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.TipoGarantiaSuper.TipoGarantiaSuperSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ICategoriaRiesgoGarantiaRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.CategoriaRiesgoGarantia.CategoriaRiesgoGarantiaSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ISyncLogRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.SyncLog.SyncLogSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IIMPORT_TH_ATOMO_GARANTIASRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.IMPORT_TH_ATOMO_GARANTIAS.IMPORT_TH_ATOMO_GARANTIASSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGarantiaContratoRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaContrato.GarantiaContratoSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ILimitInformationRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.LimitInformation.LimitInformationSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ITooltipRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Tooltip.TooltipSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IMakerCheckerUserRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerUserSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IMakerCheckerRoleRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerRoleSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IMakerCheckerEmailTemplateRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerEmailTemplateSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IMakerCheckerOperationStatusRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerOperationStatusSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IMakerCheckerOperationRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerOperationSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IMakerCheckerChangesetRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerChangesetSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IUserRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.User.UserSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IRoleRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Role.RoleSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IGarantiaContratoDealReferenceRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaContratoDealReference.GarantiaContratoDealReferenceSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IAutocompleteValueRepository" repositoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.AutocompleteValue.AutocompleteValueSqlRepository,Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral,PublicKeyToken=null" />
    </repositoryMappings>
  </repositoryMappingsConfiguration>
  <entityMappingsConfiguration>
    <entityMappings>
      <entityMapping entityShortTypeName="Cliente" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Cliente.ClienteFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Pais" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Pais.PaisFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="CategoriaSuper" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.CategoriaSuper.CategoriaSuperFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Actor" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Actor.ActorFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Avaluadoras" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Avaluadoras.AvaluadorasFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Aseguradoras" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Aseguradoras.AseguradorasFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Aval" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Aval.AvalFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Bancos" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Bancos.BancosFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="CalificacionesRiesgo" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.CalificacionesRiesgo.CalificacionesRiesgoFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Fiduciarias" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Fiduciarias.FiduciariasFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Frecuencias" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Frecuencias.FrecuenciasFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="GarantiaBase" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaBase.GarantiaBaseFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="GarantiaDepositoOtroBanco" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaDepositoOtroBanco.GarantiaDepositoOtroBancoFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="GarantiaDeposito" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaDeposito.GarantiaDepositoFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="GarantiaInmueble" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaInmueble.GarantiaInmuebleFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="GarantiaMueble" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaMueble.GarantiaMuebleFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="GarantiaOtra" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaOtra.GarantiaOtraFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="GarantiaPrenda" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaPrenda.GarantiaPrendaFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="GrupoRiesgoGarantia" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GrupoRiesgoGarantia.GrupoRiesgoGarantiaFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="InstrumentoFinanciero" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.InstrumentoFinanciero.InstrumentoFinancieroFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Monedas" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Monedas.MonedasFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="InternalStatus" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.InternalStatus.InternalStatusFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Status" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Status.StatusFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="TipoAval" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.TipoAval.TipoAvalFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="TipoGarantiaBladex" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.TipoGarantiaBladex.TipoGarantiaBladexFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="TipoGarantiaSuper" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.TipoGarantiaSuper.TipoGarantiaSuperFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="CategoriaRiesgoGarantia" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.CategoriaRiesgoGarantia.CategoriaRiesgoGarantiaFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="SyncLog" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.SyncLog.SyncLogFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="IMPORT_TH_ATOMO_GARANTIAS" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.IMPORT_TH_ATOMO_GARANTIAS.IMPORT_TH_ATOMO_GARANTIASFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="GarantiaContrato" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaContrato.GarantiaContratoFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="LimitInformation" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.LimitInformation.LimitInformationFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Tooltip" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Tooltip.TooltipFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="MakerCheckerUser" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerUserFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="MakerCheckerRole" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerRoleFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="MakerCheckerEmailTemplate" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerEmailTemplateFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="MakerCheckerOperationStatus" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerOperationStatusFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="MakerCheckerOperation" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerOperationFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="MakerCheckerChangeset" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Components.MakerChecker.MakerCheckerChangesetFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="User" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.User.UserFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="Role" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Role.RoleFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="GarantiaContratoDealReference" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.GarantiaContratoDealReference.GarantiaContratoDealReferenceFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <entityMapping entityShortTypeName="AutocompleteValue" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.AutocompleteValue.AutocompleteValueFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </entityMappings>
  </entityMappingsConfiguration>
  <log4net>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="100" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=localhost;Initial Catalog=BLX_GARANTIAS;Integrated Security=SSPI;" />
      <commandText value="INSERT INTO ApplicationLog ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <conversionPattern value="[%-5level] - %message%newline" />
      </layout>
    </appender>
    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="AdoNetAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.115.5" newVersion="1.0.115.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>