<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityMappingsConfiguration" type="Bladex.Garantias.Infrastructure.EntityFactoryFramework.Configuration.EntitySettings, Bladex.Garantias.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <entityMappingsConfiguration>
    <entityMappings>
      <entityMapping entityShortTypeName="Cliente" entityFactoryFullTypeName="Bladex.Garantias.Infrastructure.Repositories.Cliente.ClienteFactory, Bladex.Garantias.Infrastructure.Repositories, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </entityMappings>
  </entityMappingsConfiguration>
</configuration>